* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 9pt;
}

body {
  background: lightgray;
}

h1 {
  font-family: Impact,Charcoal,Aharoni,Arial;
  font-size: 20px;
  font-weight: normal;
}
.by {
  font-family: Impact,Charcoal,Aharoni,Arial;
  font-size: 8px;
  color: red;
}
.wall {
  border-color: black;
  background: #F3F1F3;
  /*display: block;*/
  /*width: 550px;*/
}
.canvas {
  padding: 8px;
  text-align: right;
  color: darkviolet;
  font-weight: bold;
  line-height: 0;
  overflow: hidden;
  display: table;
  margin: 0 auto;
}
.block-title {
  font-weight: bold;
  line-height: 1.3;
  border-left:5px solid purple;
  border-bottom:1px solid purple;
  padding:0 0 2px 10px;
  margin:12px 20px 12px 12px;
}
.labelname {
  width: 80px;
  display: inline-block;
}
.panel {
  margin: 0 0 0 24px;
}
.panel2 {
  margin: 0 0 0 24px;
  display: inline-block;
  width: 400px;
}

img {
  width: 300px;
  border: 1px solid purple;
}
label {
  /*margin: 0 0 0 24px;*/
}
input[type="number"] {
  width:36px;
  font-size: 9px;
  text-align: right;
}
input.command {
  margin: 4px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #c7c7c7;
  height: 2px;
  width: 220px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: none;
    width: 12px;
    height: 12px;
    display: block;
    background-color: #262626;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.panel input[type="radio" i] {
  display: none;
}

.panel input[type="radio"]:checked + label {
  border-top: solid 2px darkblue;
  border-bottom: solid 2px darkblue;
  border-right: solid 2px darkblue;
  border-left: solid 2px darkblue;
  background-color: skyblue;
}

.panel label {
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  border-right: solid 1px #999999;
  border-left: solid 1px #999999;
  background-color: #cccccc;
  padding: 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*
.panel > label:first-of-type {
  border-left: solid 1px #999999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.panel > label:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
*/
